<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes Dh</title>
</head>
<body>
    <h1>Edmund M. Clarke</h1>

    <img src="/images/clarke.jpg" alt="" width="300">

    <p>Edmund Melson Clarke, Jr. (Newport News, 27 de julio de 1945 - 22 de diciembre de 2020) fue un informático teórico, profesor universitario, investigador, ingeniero y matemático estadounidense.</p>

    <h3>Lista de heroes</h3>

    <ul type= "none">
    <li><a href="/">Home</a></li>
    <li><a href="/babbage">Babbage</a></li>
    <li><a href="/berners-lee">Berners-Lee</a></li>
    <li><a href="/clarke">Clarke</a></li>
    <li><a href="/hamilton">Hamilton</a></li>
    <li><a href="/hopper">Hopper</a></li>
    <li><a href="/lovelace">Lovelace</a></li>
    <li><a href="/turing">Turing</a></li>
</ul>    

</body>
</html>