<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes Dh</title>
</head>
<body>
    <h1>Grace Murray Hopper</h1>

    <img src="/images/hopper.jpg" alt="" width="500">

    <p>Grace Murray Hopper nació el 9 de diciembre de 1906, en Nueva York, y murió en Arlington, Virginia (USA) el 1 de enero de 1992. Grace Hopper fue un distinguido oficial de la marina estadounidense y una destacada científica computacional. Hopper fue uno de los programadores del primer gran ordenador, el Mark I. Su trabajo dió lugar al primer lenguaje compilador para ordenadores. También trabajó en el desarrolo del COBOL, uno de los primeros lenguajes de programación.

        Acuñó el término "bug" (chinche, bicho) para referirse a un error de programación, cuando descubrió una pequeña mariposa dentro de los circuitos que hacía cometer errores de ejecución. En 1973, aunque en la reserva, fue la primera mujer en llegar a capitán de navío de la marina estadounidense.
        
        Aunque ya estaba retirada, fue llamada de nuevo al servicio activo de la marina en 1967. En 1983, fue nombrada Rear Admiral, y cuando de nuevo se retiró en agosto de 1986, era el oficial más viejo en activo de EEUU. Después de su retiro trabajó como consejero de la Digital Equipment Corporation hasta su muerte.
        
        En 1969, recibió la distinción de Man of the Year de la Data Processing Management Association. Después de 40 años de trabajo pionero con ordenadores, Hopper decía que su mayor contribución había sido entrenar a muchos jóvenes.</p>

        <h3>Lista de heroes</h3>

        <ul type= "none">
            <li><a href="/">Home</a></li>
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">Hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
        </ul>    

</body>
</html>